<div class="containerr" [style.background-color]="backgroundColor" *ngIf="isLoged">
    <div cdkDropListGroup  class="page py-5">

        <div class="example-container Todo">
            <div class="d-flex align-items-center coll">
                <h2 class="text-white" >To Do</h2>
                <span class="fs-4 mt-1 ps-3 text-white">{{todo.length}}</span>
                <button class="btn red" (click)="openNewTaskDialog('1')">
                    <mat-icon class="red" >add</mat-icon>                    
                </button>
            </div>
          <div
            cdkDropList
            [cdkDropListData]="todo"
            class="example-list"
            (cdkDropListDropped)="drop($event)">

            <p class="empty-label text-white" *ngIf="todo.length === 0">No Tasks in This Stage</p>

            <app-task class="example-box" (edit)="editTask('todo', $event)"
             *ngFor="let task of todo" cdkDrag [task]="task"></app-task>

          </div>
        </div>
    
        <div class="example-container InProgress">
          
            <div class="d-flex align-items-center coll">
                <h2 class="text-white">In Progress</h2>
                <span class="fs-4 mt-1 ps-3 text-white" >{{inProgress.length}}</span>
                <button class="btn yellow" (click)="openNewTaskDialog('2')">
                    <mat-icon class="yellow" >add</mat-icon>                    
                </button>
            </div>
          <div
            cdkDropList
            [cdkDropListData]="inProgress"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <p class="empty-label text-white" *ngIf="inProgress.length === 0">No Tasks in This Stage</p>
            <app-task class="example-box" (edit)="editTask('inProgress', $event)"
             *ngFor="let task of inProgress" cdkDrag [task]="task"></app-task>  
          </div>
        </div>
      
        <div class="example-container done">

          <div class="d-flex align-items-center coll">
            <h2 class="text-white ">Done</h2>
            <span class="fs-4 mt-1 ps-3 text-white">{{done.length}}</span>
            <button class="btn green" (click)="openNewTaskDialog('3')">
                <mat-icon class="green" >add</mat-icon>                    
            </button>
        </div>
          <div
            cdkDropList
            [cdkDropListData]="done"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <p class="empty-label text-white" *ngIf="done.length === 0">No Tasks in This Stage</p>
            <app-task class="example-box" (edit)="editTask('done', $event)"
             *ngFor="let task of done" cdkDrag [task]="task"></app-task> 
          </div>
        </div>

      </div>
      
</div>
<div class="d-flex justify-content-center align-items-center" *ngIf="!isLoged" >
  <div class="text-center" >  
    <p>Please Login First</p>
    <button class="btn btn-primary" routerLink="/home/login">Sign In</button>
  </div>
</div>