/* signup.component.css */

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px); /* Set the height to 50% of the viewport height */
    background-color: #f4f4f4; /* Light gray background color */
    padding: 20px;
  }
  
  h2 {
    color: #333; /* Dark gray text color */
  }
  
  form {
    width: 300px; /* Adjust the form width as needed */
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 15px; /* Add some space between the input fields and the button */
    background-color: #2196F3; /* Material blue color */
    color: #fff; /* White text color */
  }
  .d-flex button{
    width: 70px !important;
  }
  .pointer{
    cursor: pointer;
  }
  