mat-accordion.w-100{
    height: 100% !important;
    width: 100% !important;
}
body{
    padding: 0px !important;
    color: aliceblue;
}
::ng-deep .mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
    flex-basis :unset !important;
}
mat-icon{
    cursor: pointer;
  }
  mat-icon.edit{
    color: #60bceb;
  }
  mat-icon.delete{
    color: rgb(253, 67, 67);
  }