<mat-accordion class="w-100">
    <mat-expansion-panel class="panel" >
      <mat-expansion-panel-header>
        <mat-panel-title class="ms-auto fs-4">
          {{task?.title}}  
        </mat-panel-title>
        <mat-panel-description class="descrption d-flex justify-content-end fs-6 " style="position:relative;">
          <mat-progress-spinner
          [ngClass]="{
            'example-margin1': task.priorty <= 3,
            'example-margin3': task.priorty >= 4 && task.priorty <= 6,
            'example-margin2': task.priorty >= 7
          }"
          mode="determinate"
          [value]="task.priorty * 10"
          diameter="40">
          </mat-progress-spinner>
          <div class="message">{{task.priorty}}</div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p class="fs-3 text-start">{{task?.description}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <span>By <span class="fw-bold" > {{task.auhtor}}</span></span>
        <div class="d-flex">
          <button class="btn">
            <mat-icon class="edit" (click)="openUpdateDialog(task)">edit</mat-icon>
        </button>
        <button class="btn">
            <mat-icon class="delete" (click)="DeleteTask(task)" >delete</mat-icon>
        </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  