<div class="container">
    <h2 class="text-center my-1" >New Task</h2>
    <button (click)="closeDialog()" class=" btn-close">
        <!-- <mat-icon calss="close" >close</mat-icon> -->
    </button>
    <form [formGroup]="NewTask" class="text-center">
        <div class="d-flex section-2 my-2 ">
            <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="mx-1">
                <mat-label>Tittle</mat-label>
                <input matInput #input maxlength="18"
                placeholder="Ex. Finish Project" formControlName="title">
                <mat-hint align="end">{{input.value.length}}/18</mat-hint>
              </mat-form-field>
              
            <mat-form-field hintLabel="Max 10 characters" appearance='outline' class="mx-1">
                <mat-label>Author</mat-label>
                <input matInput #input1 maxlength="15"
                placeholder="Ex. Michael Ramzy" formControlName="author">
                <mat-hint align="end">{{input1.value.length}}/15</mat-hint>
              </mat-form-field>
        </div>

          <mat-form-field appearance='outline' class="disc mx-2 my-1">
            <mat-label>Descrption</mat-label>
            <textarea matInput #input2 maxlength="40" formControlName="description"></textarea>
            <mat-hint align="end">{{input2.value.length}}/40</mat-hint>
          </mat-form-field>

          <div class="d-flex">
            <mat-form-field appearance='outline' class="mx-1">
                <mat-label>Select me</mat-label>
                <mat-select formControlName="stage" >
                  <mat-option value="1">todo</mat-option>
                  <mat-option value="2">In Progress</mat-option>
                  <mat-option value="3">Done</mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field appearance='outline' class="mx-1">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="datepicker" readonly formControlName="dueDate" >
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                </mat-datepicker>
              </mat-form-field>
          </div>

          <mat-slider calss="my-2" min="0" max="10" step="1" thumbLabel  discrete [ngClass]="{'my-slider': NewTask.value.priority <= 3, 'my-slider1' : NewTask.value.priority > 3.1 && NewTask.value.priority <= 6,'my-slider2' : NewTask.value.priority > 6 }" >
            <input #mika  formControlName="priority" matSliderThumb>
        </mat-slider>
        <div class="d-flex justify-content-end my-1">
            <button class="btn btn-success text-white" (click)="AddNewTask()" [disabled]="!NewTask.valid" >Submit</button>
        </div>
    </form>
</div>